* {
  box-sizing: border-box;
  font-family: 'Roboto';
}

.each-blog-list {
  list-style-type: none;
  border: 1px solid #d3d3d3;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: flex;
}

@media (max-width: 576px) {
  .each-blog-list {
    flex-direction: column;
  }
}

.blog-image-list {
  width: 300px;
  height: 150px;
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
}

@media (max-width: 576px) {
  .blog-image-list {
    width: 200px;
  }
}

.topic {
  font-weight: 500;
  color: #d3d3d3;
  font-size: 15px;
  margin: 5px 0px;
  text-decoration: none;
}

.title {
  font-size: 15px;
  font-weight: 500;
  color: #000;
  margin: 0% auto;
  text-decoration: none;
}

.avatar-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-size: cover;
  margin-right: 10px;
}

.each-blog-list div {
  padding: 20px;
}

.avatar-container {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .avatar-container {
    text-align: left;
  }
}

.each-blog-list button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
